.rules {
    display: flex;
    color: white;
    flex-direction: row;
    justify-content: center;
    height: 100%;

}

.rules ol{
    padding: 5vh;
    width:40%;
}

.rules ol li {
    padding-top: 1vh;
    
}


.discord-rules{
    margin-top: 0;
}


.discord-rules a{
    color: var(--lotus-color);
}
