.card {
    border-radius: 1rem;
    background-color: #36393f8c;
    color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid #2a2d31;
    width: 14vw;
    
}

.card img{
    width: 100%;    
    border-radius: 10px;
    }

.description{
    background-color: #36393f8c;
    padding: 10px;

}


.card a{
    color: white;
    text-decoration: none;
    color: var(--discord-color);
}
