
.footer ul {
    display: flex;
    flex-direction: column;
    width: 40%;
    list-style-type: none;
    border-top: 2px solid rgb(97, 97, 97);
    align-items: center;
}


.footer { 
    display: flex;
    justify-content: center;
    color: white;
}

.footer a {
    color: var(--discord-color);
}

.footer a:hover {
    color: var(--lotus-color);
    transition: color 0.5s;
}